<nav
  class="w-full h-14 bg-indigo-200 flex justify-between px-4 md:px-4 items-center"
>
  <div class="text-4xl text-indigo-700 font-bold">Anurag</div>
  <ul class="md:flex hidden font-semibold">
    <li
      class="mx-[10px] cursor-pointer hover:text-gray-800 hover:border-b-2"
      routerLink="/best-isv"
      routerLinkActive="active-link"
    >
      Best ISV
    </li>
    <li
      class="mx-[10px] cursor-pointer hover:text-gray-800 hover:border-b-2"
      routerLink="/add-isv"
      routerLinkActive="active-link"
    >
      Add ISV
    </li>
    <li
      class="mx-[10px] cursor-pointer hover:text-gray-800 hover:border-b-2"
      routerLink="/isv-tracker"
      routerLinkActive="active-link"
    >
      ISV Tracker
    </li>
    <li
      class="mx-[10px] cursor-pointer hover:text-gray-800 hover:border-b-2"
      routerLink="/isv-list"
      routerLinkActive="active-link"
    >
      ISV List
    </li>
    <li
      class="mx-[10px] cursor-pointer hover:text-gray-800 hover:border-b-2"
      routerLink="/dashboard"
      routerLinkActive="active-link"
    >
      Dashboard
    </li>
  </ul>
  <div
    class="hidden md:block px-2 py-2 mx-2 my-2 bg-indigo-700 text-white rounded font-bold cursor-pointer"
  >
    Login / Signup
  </div>
</nav>

<router-outlet></router-outlet>
